@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



:root {
    --bg-color: #0E2954;
    --primary-color: #2E8A99;
    --secondary-color: #1F6E8C;
    --font: "Nunito Sans", sans-serif;
}

body {
    /*cor de fundo*/
    background-color: var(--bg-color);
    /*cor da fonte*/
    color: var(--primary-color);
    /*estilo de fonte*/
    font-family: var(--font);
    /*faz com que o elemento ocupe 100% da altura da janela do navegador*/
    height: 100vh;
    /*margem*/
    margin: 0;

}

header {
    /*cor de fundo*/
    background-color: var(--secondary-color);
    /* alinhamento de texto ao centro*/
    text-align: center;

}

h1{
    font-size: 2rem;/*tamanho da fonte*/
    color: var(--bg-color);/*cor de fundo*/
    font-weight: 700;/*peso da fonte*/
}